<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            text-align: center;
        }
        form, img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <h1>Upload .wav File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".wav">
        <button type="submit">Upload</button>
    </form>
    <br>
    <h1>What is a Capuchinbird?</h1>
    <img src="{{ url_for('static', filename='capuchinbird.jpg') }}" alt="Capuchinbird" width="224.8" height="281.3">
    <p>*information*</p>
    <br>
    <h1>What does a Capuchinbird sound like?</h1>
    <audio controls>
        <source src="{{ url_for('static', filename='XC3776-1.wav') }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
</body>
</html>